.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1600px;
    overflow: hidden;
    &__title {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        max-width: 1100px;
        padding: 0 45px;
        img {
          margin-top: 119px;
          margin-bottom: 45px;
        }
    }
    &__section-1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "left right";
        border: 1px solid black;        
    }
    &__section-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "left right";
        border: 1px solid black;        
    }
    .column-1 {
        grid-area: left;
    }
    .column-2 {
        grid-area: right;
        display: flex;
        justify-content: start;
        flex-direction: column;
        &__context {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0 68px;
            img {
                margin: 55px 0 0 0;
            }
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                h2 {
                    font-size: 18px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 3.6px;
                    text-align: center;
                    color: #353738;
                    text-transform: uppercase;
                    margin: 30px 0 28px 0;
                }
                p {
                    text-align: justify;
                    font-family: "Lato-Regular";
                    font-size: 16px;
                    line-height: 28px;
                    word-spacing: -1px;
                    margin: 0;
                    letter-spacing: normal;
                }
                span {
                    width: 50px;
                    height: 1px;
                    background-color: #353738;
                    margin: 40px 0 54px 0;
                }
            }
        }


    }
    h1 {
        font-family: 'Lato-Bold';
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 3.6px;
        text-align: center;
        color: #353738;
    }
    p {
        margin-top: 35px;
        margin-bottom: 103px;
        font-family: 'Lato';
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 34px;
        letter-spacing: normal;
        text-align: center;
        color: #848789;
    }
    
}
