//Миксины=====================================================================
@import "mixins";
//Миксины=====================================================================

//Шрифты======================================================================
//@import url("https://fonts.googleapis.com/css?family=Play:regular,700");
//@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900&display=swap&subset=cyrillic-ext");
@import "fonts";
//Шрифты======================================================================

//Переменные===================================================================
$fontFamily: "Lato-Regular";
$maxWidth: 1400;
$minWidth: 320px;
$maxWidthContainer: 1130;
$md1: $maxWidthContainer + 12; //12
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;
//Переменные===================================================================

//Обнуление===================================================================
@import "null";
body {
  width: 100%;
  height: 100%;
  color: #000;
  font-family: $fontFamily;
  font-size: 14px;
  &._lock {
    overflow: hidden;
  }
}
//Обнуление===================================================================

//Оболочка=====================================================================
.wrapper {
  width: 100%;
  height: 100%;
}
//Оболочка=====================================================================

//Основная сетка==============================================================
.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 15px;
}
//Основная сетка==============================================================

//Подключение файлов UI стилей, форм и готовых классов========================
//@import "forms";
//@import "ui";
//Подключение файлов UI стилей, форм и готовых классов========================

//Подключение файлов стилей страниц и элементов===============================
//@import "popur";
@import "header";
@import "content";
@import "footer";

//Подключение файлов стилей страниц и элементов===============================

//Основной блок===============================================================
.page {
  position: relative;
  z-index: 1;
  background-color: rgb(165, 85, 165);
  margin: 0 auto;
  max-width: 1600px;
 // @include flexbox();
}
.main-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image:url("../img/bg_main.jpg");
  overflow: hidden;
  width: 100%;
  height: 800px;
  top: 0;
  left: 0;
  @media(max-width: $md3) {
    background-color: #4d4959;
    background-image: none !important;
}
}

//Основной блок===============================================================
